server/officeserver_default/src/test/resources/net/officefloor/server/http/request/Test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="test">
		<xs:annotation>
			<xs:documentation>
				XSD allowing auto-completion for easier test writing
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="unbounded">
				<xs:element name="communication">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="request">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="header"
											minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute
													name="name" type="xs:string" use="required" />
												<xs:attribute
													name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="body"
											minOccurs="0" />
									</xs:sequence>
									<xs:attribute name="method"
										type="xs:string" use="optional" />
									<xs:attribute name="path"
										type="xs:string" use="optional" />
									<xs:attribute name="version"
										type="xs:string" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="process">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="body"
											minOccurs="0" />
										<xs:element name="exception"
											type="xs:string" maxOccurs="1" minOccurs="0">
										</xs:element>
									</xs:sequence>
									<xs:attribute name="close"
										type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
							<xs:element name="response">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="header"
											minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute
													name="name" type="xs:string" use="required" />
												<xs:attribute
													name="value" type="xs:string" use="required" />
											</xs:complexType>
										</xs:element>
										<xs:element name="body"
											minOccurs="0" />
									</xs:sequence>
									<xs:attribute name="status"
										type="xs:int" use="optional" />
									<xs:attribute name="message"
										type="xs:string" use="optional" />
									<xs:attribute name="closed"
										type="xs:boolean" use="optional" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
